.figcaption {
font-size: 15px;
font-style: italic;
color: var(--text-muted);
}


div .figcaption#left, div .figcaption#right, div .figcaption#centre, div .figcaption#center{
display: flex;
justify-content: center;
}

.figcaption#left {
clear: left;
float: left;
}

.figcaption#right {
clear: right;
float: right;
}

.figcaption#centre,
.figcaption#center {
margin-left: auto;
margin-right: auto;
}
